Repository AbhiRami007/trg-recruits-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --write

Update index.ts
  src/models/index.ts
Due: prettier --parser typescript --write

Update sequelize.js
  src/config/sequelize.js
Due: prettier --write

updates
  config/env/production/database.js
  config/env/production/server.js
  package.json
Due: prettier --write

updates
  src/config/env/production/database.js
  src/config/env/production/server.js
Due: prettier --write

Update .sequelizerc
  src/.sequelizerc
Due: none

Update package.json
  package.json
Due: prettier --write

Update tsconfig.json
  tsconfig.json
Due: prettier --write

Delete jobs.ts
  src/models/jobs.ts
Due: prettier --parser typescript --write

Update db.ts
  src/types/db.ts
Due: prettier --parser typescript --write

commented
  src/controllers/jobs.ts
  src/routes/jobs.ts
  src/services/jobs.ts
Due: prettier --parser typescript --write

Revert "commented"
  src/controllers/jobs.ts
  src/routes/jobs.ts
  src/services/jobs.ts
Due: prettier --parser typescript --write

Revert "Update db.ts"
  src/types/db.ts
Due: prettier --parser typescript --write

Revert "Delete jobs.ts"
  src/models/jobs.ts
Due: prettier --parser typescript --write

updates
  nodemon.json
  package.json
  src/server.ts
  tsconfig.json
Due: prettier --parser typescript --write, prettier --write

updates
  package.json
  tslint.json
Due: prettier --write

updates
  Dockerfile
  package-lock.json
  package.json
  src/config/env/production/database.js
  src/config/env/production/server.js
Due: prettier --write

updates
  .env
  .gitignore
Due: none

env
  .env
Due: none

env
  config/config.json
Due: prettier --write

updates
  .eslintrc.js
  .gitignore
  .prettierrc
  Dockerfile
  app.ts
  nodemon.json
  package-lock.json
  package.json
  src/.sequelizerc
  src/app.ts
  src/controllers/auth.ts
  src/server.ts
  tslint.json
Due: prettier --parser typescript --write, prettier --write

Delete .env
  .env
Due: none

updates
  .lintstagedrc
  config/config.json
  config/env/production/database.js
  config/env/production/server.js
  nodemon.json
  package.json
  src/app.ts
Due: prettier --parser typescript --write, prettier --write

updates
  src/config/config.json
  src/config/sequelize.js
Due: prettier --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,css,md})
