Repository AbhiRami007/trg-recruits-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --write

multiple documnet update
  src/controllers/candidateDocuments.ts
Due: prettier --parser typescript --write

notification updates
  nodemon.json
  package-lock.json
  package.json
  src/app.ts
  src/controllers/jobs.ts
  src/controllers/userEducation.ts
  src/controllers/userSocketNotification.ts
  src/index.ts
  src/models/careerProfile.ts
  src/models/jobs.ts
  src/models/userActions.ts
  src/models/userActionsMap.ts
  src/models/userEducation.ts
  src/models/userSocket.ts
  src/routes/index.ts
  src/routes/userSocketNotification.ts
  src/services/careerProfile.ts
  src/services/jobs.ts
  src/services/logUserActions.ts
  src/services/user.ts
  src/services/userSocket.ts
  src/services/userSocketNotification.ts
  src/types/db.ts
  src/utils/socketio.js
Due: prettier --parser typescript --write, prettier --write

featured companies api
  src/controllers/jobs.ts
  src/models/featuredCompanies.ts
  src/routes/adminAuth.ts
  src/routes/jobs.ts
  src/services/jobs.ts
  src/types/db.ts
Due: prettier --parser typescript --write

Update auth.ts
  src/controllers/auth.ts
Due: prettier --parser typescript --write

socketio updates
  src/services/userSocket.ts
  src/services/userSocketNotification.ts
  src/utils/socketio.js
Due: prettier --parser typescript --write, prettier --write

Update adminAuth.ts
  src/controllers/adminAuth.ts
Due: prettier --parser typescript --write

Update user.ts
  src/models/user.ts
Due: prettier --parser typescript --write

featured compnaies update
  src/controllers/candidateDocuments.ts
  src/controllers/featuredCompanies.ts
  src/controllers/jobs.ts
  src/controllers/picturesUpload.ts
  src/routes/featuredCompanies.ts
  src/routes/index.ts
  src/services/featuredCompanies.ts
Due: prettier --parser typescript --write

featured companies update
  src/controllers/featuredCompanies.ts
  src/controllers/jobs.ts
  src/routes/featuredCompanies.ts
  src/routes/jobs.ts
  src/services/jobs.ts
Due: prettier --parser typescript --write

Update featuredCompanies.ts
  src/controllers/featuredCompanies.ts
Due: prettier --parser typescript --write

socket updates
  src/controllers/userSocketNotification.ts
  src/services/logUserActions.ts
  src/services/userSocket.ts
  src/services/userSocketNotification.ts
  src/utils/socketio.js
Due: prettier --parser typescript --write, prettier --write

featured companies update
  src/controllers/featuredCompanies.ts
  src/services/featuredCompanies.ts
Due: prettier --parser typescript --write

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,css,md})
