Repository AbhiRami007/trg-recruits-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --write

updates
  src/config/database.ts
  src/models/index.ts
Due: prettier --parser typescript --write

updates
  src/routes/index.ts
  src/routes/jobs.ts
Due: prettier --parser typescript --write

Update config.json
  src/config/config.json
Due: prettier --write

api updates
  package-lock.json
  package.json
  src/assets/email_template/verify.ts
  src/config/database.ts
  src/config/sequelize.js
  src/controllers/auth.ts
  src/controllers/candidateDocuments.ts
  src/controllers/comments.ts
  src/controllers/jobs.ts
  src/controllers/picturesUpload.ts
  src/controllers/trackStatus.ts
  src/middlewares/authentication.ts
  src/models/comments.ts
  src/models/index.ts
  src/models/jobs.ts
  src/models/trackStatus.ts
  src/models/user.ts
  src/routes/auth.ts
  src/routes/candidateDocuments.ts
  src/routes/comments.ts
  src/routes/index.ts
  src/routes/picturesUpload.ts
  src/routes/trackStatus.ts
  src/services/comments.ts
  src/services/jobs.ts
  src/services/trackStatus.ts
  src/services/user.ts
  src/types/db.ts
  src/utils/otp.ts
  src/utils/responseHelper.ts
  src/utils/sendEmail.ts
Due: prettier --parser typescript --write, prettier --write

api updates
  src/assets/user_avatar_default.png
  src/config/env.ts
  src/controllers/auth.ts
  src/controllers/candidateDocuments.ts
  src/controllers/jobs.ts
  src/controllers/picturesUpload.ts
  src/routes/auth.ts
  src/routes/jobs.ts
  src/services/jobs.ts
  src/services/user.ts
  src/utils/authHelper.ts
  src/utils/email.ts
  src/utils/otp.ts
Due: prettier --parser typescript --write

model updates
  package-lock.json
  package.json
  src/config/env.ts
  src/controllers/auth.ts
  src/models/comments.ts
  src/models/jobs.ts
  src/models/trackStatus.ts
  src/models/user.ts
  src/routes/auth.ts
  src/services/jobs.ts
  src/utils/email.ts
  src/utils/otp.ts
  src/validators/userValidation.ts
Due: prettier --parser typescript --write, prettier --write

google sign in
  package-lock.json
  package.json
  src/controllers/auth.ts
  src/middlewares/authentication.ts
  src/models/user.ts
  src/routes/auth.ts
  src/services/user.ts
Due: prettier --parser typescript --write, prettier --write

updates
  src/controllers/auth.ts
  src/models/comments.ts
  src/models/user.ts
  src/routes/auth.ts
  src/services/user.ts
Due: prettier --parser typescript --write

recruiter signup
  src/controllers/auth.ts
  src/routes/auth.ts
  src/validators/userValidation.ts
Due: prettier --parser typescript --write

added client, picture updates
  package.json
  src/controllers/adminAuth.ts
  src/controllers/auth.ts
  src/controllers/candidateDocuments.ts
  src/controllers/client.ts
  src/controllers/picturesUpload.ts
  src/middlewares/authentication.ts
  src/models/admin.ts
  src/models/candidateDocuments.ts
  src/models/client.ts
  src/models/user.ts
  src/routes/adminAuth.ts
  src/routes/candidateDocuments.ts
  src/routes/clientAuth.ts
  src/routes/index.ts
  src/routes/picturesUpload.ts
  src/seeds/admin.ts
  src/seeds/client.ts
  src/services/admin.ts
  src/services/candidateDocuments.ts
  src/services/client.ts
  src/services/user.ts
  src/types/db.ts
  src/validators/userValidation.ts
Due: prettier --parser typescript --write, prettier --write

updates
  src/controllers/auth.ts
  src/controllers/candidateDocuments.ts
  src/controllers/picturesUpload.ts
  src/models/comments.ts
  src/models/jobs.ts
  src/models/trackStatus.ts
  src/models/user.ts
  src/routes/adminAuth.ts
  src/routes/auth.ts
  src/routes/candidateDocuments.ts
  src/routes/clientAuth.ts
  src/routes/comments.ts
  src/routes/jobs.ts
  src/routes/picturesUpload.ts
Due: prettier --parser typescript --write

Update package.json
  package.json
Due: prettier --write

updates
  src/config/config.json
  src/config/database.ts
  src/config/sequelize.js
Due: prettier --parser typescript --write, prettier --write

Update index.ts
  src/models/index.ts
Due: prettier --parser typescript --write

google login updates
  src/config/env.ts
  src/controllers/adminAuth.ts
  src/controllers/client.ts
Due: prettier --parser typescript --write

updates
  src/controllers/auth.ts
  src/controllers/candidateDocuments.ts
  src/models/user.ts
  src/utils/responseHelper.ts
Due: prettier --parser typescript --write

Update candidateDocuments.ts
  src/controllers/candidateDocuments.ts
Due: prettier --parser typescript --write

Update auth.ts
  src/routes/auth.ts
Due: prettier --parser typescript --write

updates
  src/controllers/adminAuth.ts
  src/controllers/auth.ts
  src/controllers/candidateDocuments.ts
  src/controllers/client.ts
  src/controllers/picturesUpload.ts
  src/controllers/trackStatus.ts
  src/middlewares/authentication.ts
  src/models/candidateDocuments.ts
  src/routes/auth.ts
  src/routes/candidateDocuments.ts
  src/routes/comments.ts
  src/routes/jobs.ts
  src/routes/picturesUpload.ts
  src/routes/trackStatus.ts
  src/services/trackStatus.ts
Due: prettier --parser typescript --write

updates
  src/config/config.json
  src/controllers/auth.ts
Due: prettier --parser typescript --write, prettier --write

jobs creation updates
  src/controllers/adminAuth.ts
  src/controllers/jobs.ts
  src/models/comments.ts
  src/models/jobs.ts
  src/routes/jobs.ts
Due: prettier --parser typescript --write

jobs update
  src/controllers/adminAuth.ts
  src/controllers/jobs.ts
  src/models/jobs.ts
Due: prettier --parser typescript --write

Update client.ts
  src/controllers/client.ts
Due: prettier --parser typescript --write

Update jobs.ts
  src/controllers/jobs.ts
Due: prettier --parser typescript --write

jobs updates
  src/controllers/jobs.ts
  src/models/jobs.ts
  src/models/trackStatus.ts
  src/models/user.ts
  src/routes/jobs.ts
Due: prettier --parser typescript --write

education api updates
  src/controllers/jobs.ts
  src/controllers/userEducation.ts
  src/models/user.ts
  src/models/userEducation.ts
  src/routes/index.ts
  src/routes/userEducation.ts
  src/services/userEducation.ts
  src/types/db.ts
Due: prettier --parser typescript --write

Update user.ts
  src/models/user.ts
Due: prettier --parser typescript --write

career profile updates
  src/controllers/auth.ts
  src/controllers/careerProfile.ts
  src/models/careerProfile.ts
  src/models/userEducation.ts
  src/routes/auth.ts
  src/routes/careerProfile.ts
  src/services/careerProfile.ts
  src/types/db.ts
Due: prettier --parser typescript --write

delete updates
  src/services/careerProfile.ts
  src/services/userEducation.ts
Due: prettier --parser typescript --write

Update careerProfile.ts
  src/routes/careerProfile.ts
Due: prettier --parser typescript --write

career profile updates
  src/routes/careerProfile.ts
  src/routes/index.ts
Due: prettier --parser typescript --write

Update README.md
  README.md
Due: prettier --write

Update careerProfile.ts
  src/services/careerProfile.ts
Due: prettier --parser typescript --write

Update auth.ts
  src/controllers/auth.ts
Due: prettier --parser typescript --write

Update adminAuth.ts
  src/controllers/adminAuth.ts
Due: prettier --parser typescript --write

filter jobs by title or location or company name api update
  src/controllers/jobs.ts
  src/routes/jobs.ts
  src/services/jobs.ts
Due: prettier --parser typescript --write

list recommended jobs
  src/controllers/jobs.ts
  src/routes/jobs.ts
  src/services/jobs.ts
Due: prettier --parser typescript --write

Path conditions:
  prettier --parser typescript --write: any of: *.ts
  prettier --write: (any of: *.{js,json,md}) or (any of: *.{js,css,md})
