Repository AbhiRami007/trg-recruits-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write, prettier --write

.lintstagedrc:

{
    "*.ts": [
      "prettier --parser typescript --write"
    ],
    "*.{js,json,md}": [
      "prettier --write"
    ],
    "*.{js,css,md}": "prettier --write"
}

user registration and login
  src/controllers/auth.ts
  src/middlewares/authentication.ts
  src/models/user.ts
  src/routes/auth.ts
  src/services/user.ts
Due: prettier --parser typescript --write

Update .gitignore
  .gitignore
Due: none

Delete launch.json
  .vscode/launch.json
Due: prettier --write

Create README.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

changed db to mysql
  config/config.json
  package.json
Due: prettier --write

upload documents
  package.json
  src/controllers/candidateDocuments.ts
  src/routes/candidateDocuments.ts
  src/routes/index.ts
  src/types/router.ts
  src/utils/routerHelper.ts
Due: prettier --parser typescript --write, prettier --write

user updates
  .gitignore
  src/assets/user_avatar_default.png
  src/controllers/auth.ts
  src/middlewares/authentication.ts
  src/models/user.ts
  src/routes/auth.ts
  src/services/user.ts
  src/utils/responseHelper.ts
  src/validators/userValidation.ts
Due: prettier --parser typescript --write

email and job updates
  package.json
  src/assets/email_template/verify.ts
  src/controllers/jobs.ts
  src/models/jobs.ts
  src/models/user.ts
  src/routes/auth.ts
  src/routes/jobs.ts
  src/services/jobs.ts
  src/services/user.ts
  src/types/db.ts
  src/utils/sendEmail.ts
Due: prettier --parser typescript --write, prettier --write

commit
  .gitignore
  config/config.json
  ssh-key.ppk
Due: prettier --write

Update config.json
  config/config.json
Due: prettier --write

Delete ssh-key.ppk
  ssh-key.ppk
Due: none

updates
  src/models/jobs.ts
  src/models/user.ts
Due: prettier --parser typescript --write

updates
  package.json
  src/controllers/jobs.ts
  src/models/jobs.ts
Due: prettier --parser typescript --write, prettier --write

Update package.json
  package.json
Due: prettier --write

Update sequelize.js
  src/config/sequelize.js
Due: prettier --write

updates
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

u[pdates
  server.ts
  tsconfig.json
Due: prettier --parser typescript --write, prettier --write

updates
  package-lock.json
  package.json
Due: prettier --write

package updates
  package-lock.json
  package.json
Due: prettier --write

updates
  nodemon.json
  package-lock.json
  package.json
Due: prettier --write

updates
  config/config.json
  src/config/sequelize.js
Due: prettier --write

Update index.ts
  src/models/index.ts
Due: prettier --parser typescript --write
